.step_btn,
.section_title p::after,
.section_title p::before,
.skillBar,
.expreince_wrapper .exp_icon,
.portfolio_item:hover::before,
.service_item .service_item_inner:hover::after,
.service_item .service_item_inner:hover::before,
.service_item_inner i,
.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background-color: #602cbe;
}

.mixitup-control-active,
.blog_links a:hover,
.address i {
  color: #602cbe !important;
}

.skillText,
.section_title p,
.form-control:focus,
.form-control:hover {
  border-color: #602cbe;
}
